@model IEnumerable<BirdSing.Models.Grado>

@{
    Layout = "_LayoutAdmin";
}

<h2>Lista de Grados</h2>

<table class="table">
    <thead>
        <tr>
            <th>Grado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grado in Model)
        {
            <tr>
                <td>@grado.Grados</td>
                <td>
                    <a asp-action="ActualizarGrado" asp-route-id="@grado.IdGrado" class="btn btn-link">Actualizar</a>

                    <form asp-action="EliminarGrado" asp-route-id="@grado.IdGrado" method="post" style="display:inline-block" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este grado?')">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-link text-danger p-0 m-0 align-baseline">Eliminar</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>
<a asp-action="RegistroGrado">Registrar Nuevo Grado</a>
