@model BirdSing.Models.Materia

@{
    Layout = "_LayoutAdmin";
}

<h2>Actualizar Materia</h2>

<form asp-action="ActualizarMateria" method="post">
    <div>
        <label asp-for="IdGrado"></label>
        <select asp-for="IdGrado" asp-items="ViewBag.Grados"></select>
        <span asp-validation-for="IdGrado" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="NombreMateria"></label>
        <input asp-for="NombreMateria" />
        <span asp-validation-for="NombreMateria" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Actualizar</button>
    </div>
</form>