@{
    Layout = "_LayoutDocente";
    ViewData["Title"] = "Bienvenido Docente";
}

<h1>@ViewData["Title"]</h1>
<h2 class="mb-3">@ViewBag.NombreDocente</h2> <p class="lead">
    Desde aquí puedes:
</p>
<ul>
    <li><a asp-action="CrearAvisos">Crear nuevos avisos</a></li>
    <li><a asp-action="MisAlumnos">Ver mis alumnos y materias</a></li>
</ul>