@model BirdSing.Models.ModelosViews.UsuarioTutorViewModel

@{
    Layout = "_LayoutAdmin";
}

<h2>Actualizar Tutor</h2>

<form asp-action="ActualizarTutor" method="post">
    <h3>Datos del Usuario</h3>
    <div>
        <label asp-for="Usuario.NombreUsuario"></label>
        <input asp-for="Usuario.NombreUsuario" />
        <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Usuario.ApellidoPaterno"></label>
        <input asp-for="Usuario.ApellidoPaterno" />
        <span asp-validation-for="Usuario.ApellidoPaterno" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Usuario.ApellidoMaterno"></label>
        <input asp-for="Usuario.ApellidoMaterno" />
        <span asp-validation-for="Usuario.ApellidoMaterno" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Usuario.Email"></label>
        <input asp-for="Usuario.Email" />
        <span asp-validation-for="Usuario.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.IdRol">Rol</label>
        <select asp-for="Usuario.IdRol" class="form-control" asp-items="ViewBag.Roles"></select>
    </div>

    <h3>Datos del Tutor</h3>
    <div>
        <label asp-for="Tutor.Telefono"></label>
        <input asp-for="Tutor.Telefono" />
        <span asp-validation-for="Tutor.Telefono" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Tutor.Direccion"></label>
        <input asp-for="Tutor.Direccion" />
        <span asp-validation-for="Tutor.Direccion" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Actualizar</button>
    </div>
</form>